/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsContainer {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.addButton {
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  background: #1976d2;
  color: #FFF;
}

.subtractButton {
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  background: #d32f2f;
  color: #FFF;
}

.subtractButton:focus {
  border: none;
}
